@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #272a31;
  margin: 0;
}

.head-intro {
  background-image: url("./images/mobile_intro_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding: 5%;
  padding-bottom: 20%;
}

.heading-red {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
  color: #f71404;  
  margin-top: 10%;
  margin-bottom: 0;
}

h1{
  font-family: 'Catamaran', sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 38px;
  background-clip: unset;
  background: -webkit-linear-gradient(45deg,#de5128, #fb1603,#f11605, #b40000, #f34109, #f13d0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: ;
  margin-top: 0;
  margin-bottom: 10%;
}

.box-margin {
  font-weight: 400;
  line-height: 18px;
  border: 4px solid rgb(255, 255, 255);
  background-color: #F7F7F8;
  width: calc(100% - 2.5em);
  padding: 1em 0.5em;
}

header p {
  font-weight: 400;
  line-height: 18px;
}

.date {
  background: none;
  font-size: 22px;
  font-weight: 700;
}

.logo-img {
  width: 80%;
}

.program {
  background-image: url("./images/pattern_bg-program.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding-top: 40px;  
  text-align: center;
}

.dark-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #d3d3d3;
}

.guide-bar {
  border-bottom: 1px solid #ec5242;
  background: none;
  width: 53px;
  margin: 0px auto 54px;
}

.activities {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.activity-item {
  padding: 2%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);  
  margin: 3%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.icon {
  width: 64px;
  height: 58px;
  margin: 1%;
}

.program h3 {
  color: #ec5242;
  margin: 1%;
  width: 23%;
  text-align: left;
}

.program p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  color: #d3d3d3;
  width: calc(74% - 6.5em);
  text-align: justify;
  margin: 0%;
}

.join-btn {
  font-size: 15px;
  font-weight: 400;
  color: #d3d3d3;
  background-color: #ec5242;
  border: none;
  width: 80%;
  padding: 25px;
  margin: 10%;
}

.speakers {
  text-align: center;
}
.speakers h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10%;
}

/* CSS for ABOUT */
.head-about {
  text-align: center;
  background-color: #f7f7f7;
  background-image: url("./images/mobile_about_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding: 5%;
  padding-bottom: 20%;
}

.head-about nav {
  text-align: left;
}

.head-about h2 {
  text-align: center;
  margin-bottom: 4%;
}

.events h2 {
  color: #5d5d5d;
  text-align: center;
}

.head-about .box-margin {
  font-weight: 400;
  background: #fff;
  border: 1px solid #d3d3d3;
  line-height: 22px;
  padding: 3%;
  margin-bottom: 4%;
}

.head-about p {
  padding: 0 3% 0 3%;
  margin-bottom: 0%;
}

.logo {
  text-align: center;
  color: #5d5d5d;
  padding: 5%;
}

.logo p,
.events p {
  padding: 0 10%;
  font-weight: 400;
  line-height: 19px;
}

.logo img {
  border: 1px solid #d3d3d3;
}

.events {
  font-weight: 400;
  line-height: 19px;
  padding: 5%;
  text-align: center;  
}

.event-list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.events img {
  width: 75vw;
  margin: 2%;
}

footer {
  text-align: center;
}

.footer01 {
  background-color: #272a31;
  color: #fff;
  padding: 2% 0;
}

footer .guide-bar {
  margin-bottom: 0;
}

.sponsors {
  background-color: #272a31;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 5% 10% 5%;
  justify-content: center;
  align-content: center;
}

.sponsors img {
  height: 50px;
  padding: 4% 4%;
}

.rights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  padding: 4% 0% 12% 0%;
}

.rights img {
  height: 20px;  
}

.rights p {
  text-align: left;
  font-weight: 400;
  padding: 2% 4%;
}

